h1 {
    font-size: 140%;
    color: teal;
    margin-bottom: .5em;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
    width: 400px;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-bottom: .5em;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.btn2 {
    font-size:16px;
    font-family:Arial;
    font-weight:normal;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:1px solid #84bbf3;
    padding:9px 18px;
    text-decoration:none;
    background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
    background:-ms-linear-gradient( top, #79bbff 5%, #378de5 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #79bbff), color-stop(100%, #378de5) );
    background-color:#79bbff;
    color:#ffffff;
    display:inline-block;
    text-shadow:1px 1px 0px #528ecc;
    -webkit-box-shadow:inset 1px 1px 0px 0px #bbdaf7;
    -moz-box-shadow:inset 1px 1px 0px 0px #bbdaf7;
    box-shadow:inset 1px 1px 0px 0px #bbdaf7;
    margin-bottom: .5em;
}.btn2:hover {
    background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
    background:-ms-linear-gradient( top, #378de5 5%, #79bbff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #378de5), color-stop(100%, #79bbff) );
    background-color:#378de5;
}.btn2:active {
    position:relative;
    top:1px;
}
/* This css button was generated by css-button-generator.com */
