<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>IGNORED</title>
    </h:head>
    <h:body>
        <ui:composition>
            <h:commandButton type="submit" value="#{okTxt}"  styleClass="#{btnStyle}" />
            <h:commandButton type="reset" value="#{cancelTxt}" styleClass="#{btnStyle}"/>
        </ui:composition>
    </h:body>
</html>